.gray,
.gray:hover {
  color: rgba(120, 119, 116, 1);
}
.brown,
.brown:hover {
  color: rgba(159, 107, 83, 1);
}
.orange,
.orange:hover {
  color: rgba(217, 115, 13, 1);
}
.yellow,
.yellow:hover {
  color: rgba(203, 145, 47, 1);
}
.green,
.green:hover {
  color: rgba(68, 131, 97, 1);
}
.blue,
.blue:hover {
  color: rgba(51, 126, 169, 1);
}
.purple,
.purple:hover {
  color: rgba(144, 101, 176, 1);
}
.pink,
.pink:hover {
  color: rgba(193, 76, 138, 1);
}
.red,
.red:hover {
  color: rgba(212, 76, 71, 1);
}
.gray-background {
  background: rgba(241, 241, 239, 1) !important;
}
.brown-background {
  background: rgba(244, 238, 238, 1) !important;
}
.orange-background {
  background: rgba(251, 236, 221, 1) !important;
}
.yellow-background {
  background: rgba(251, 243, 219, 1) !important;
}
.green-background {
  background: rgba(237, 243, 236, 1) !important;
}
.blue-background {
  background: rgba(231, 243, 248, 1) !important;
}
.purple-background {
  background: rgba(244, 240, 247, 0.8) !important;
}
.pink-background {
  background: rgba(249, 238, 243, 0.8) !important;
}
.red-background {
  background: rgba(253, 235, 236, 1) !important;
}

.tag.light-gray {
  color: rgb(241 245 249);
  background: rgb(71 85 105) !important;
}
.tag.gray {
  color: rgb(229 231 235);
  /* background: rgb(227, 226, 224) !important; */
  background: rgb(55 65 81) !important;

}
.tag.brown {
  color: rgb(221, 221, 221);
  background: rgb(238, 224, 218) !important;
}
.tag.orange {
  color: rgb(253 186 116);
  background: rgb(124 45 18) !important;
}
.tag.yellow {
  color: rgb(253 224 71);
  background: rgb(113 63 18) !important;
}
.tag.green {
  color: rgb(190 242 100);
  background: rgb(54 83 20) !important;
}
.tag.blue {
  color: rgb(147 197 253);
  background: rgb(22 78 99) !important;
}
.tag.purple {
  color: rgb(196 181 253);
  background: rgb(76 29 149) !important;
}
.tag.pink {
  color: rgb(249 168 212);
  background: rgb(131 24 67) !important;
}
.tag.red {
  color: rgb(252 165 165);
  background: rgb(127 29 29) !important;
}
